
    <div class="container mt-5">
        <h2>Contacto</h2>
        <p>Nuestros datos para contactarnos por cualquier consulta:</p>
        
        <ul class="list-group">
        <li class="list-group-item">
            <strong>Direccion: </strong>
            <span>Av Rivadavia 1460, Buenos Aires, Argentina</span>
        </li>
        <li class="list-group-item">
            <strong>Celular: </strong>
            <span>+54 (555) 123-4567</span>
        </li>
        <li class="list-group-item">
            <strong>Email: </strong>
            <span><a href="totalfutbol@gmail.com">totalfutbolgmail.com</a></span>
        </li>
        <li class="list-group-item">
            <strong>Horario de Atencion: </strong>
            <span>Lunes a Viernes 8:00hs a 18:00hs, Sabados 9:00hs a 13hs</span>
        </li>
        </ul>
    </div>